

input[type="text"], 
input[type="email"],
input[type="password"],
input[type="search"],
textarea {
	border: none;
	padding: 8px;
	width: 100%;
	max-width: 100%;
	display: block;
	@include box-sizing(border-box);
	margin: 0 0 .25em;
	background: $grey;
	font-size: .8em;
	&:focus {
		background: $white;
		color: $black;
	}

	.no-boxsizing & {
		width: 75%;
	}

}

input[type="submit"] {
	@extend .button;
}

select {
	width: 100%;
	@include box-sizing(border-box);
	margin: 0 0 1em;
	padding-left: 1px;
}


input[type="radio"], 
input[type="checkbox"] {
	margin: 3px 0.5ex;
}

.radio-group {
	list-style: none;
	margin: 0;
	padding: 0;
}

// label styles
label {
	color: $black;

	// make lables red when someone fills out a form wrong
	.error & {
		color: $green;
	}
}

.form-help,
.description {
	@extend .text-small;
	margin: 0;
}

// this is a special input to help battle spam
// Only a robot will fill out a form thats hidden ...
.form-item-chilly {
	display: none;
}

// this overrides drupal styles
.form-item {
	margin: 0 0 .5em;
}