.pad--0 {
    padding: 0;
}

.pad--1 {
    padding: 1em;
}

.pad--2 {
	padding: 2em;
}

.pad--4 {
	padding: 4em;
}

.margin--0 {
	margin-bottom: 0;
}

.margin--1 {
    margin-bottom: 1em;
}

.margin--2 {
	margin-bottom: 2em;
}

.margin--4 {
	margin-bottom: 4em;
}