
table {
	border: none;
	border-top: 1px solid $grey;
	width: 100%;
}

thead {
	background: $black;
	color: white;
	border-right: 1px solid $black;
	border-left: 1px solid $black;
	border-top: 1px solid $black;
}

tbody {
	border-left: 1px solid $grey;
}

th,
td {
	padding: .4em .5em;
}

th {
	border: none;
}
td {
	border-right: 1px solid $grey;
	border-bottom: 1px solid $grey;
}