
//+++++++++++++++++++++++++++!!!+++++++++++++++++++++++++++//
// fonts
$tnr 			: "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
$times 			: Times, "Times New Roman", Georgia, "DejaVu Serif", serif;
$georgia 		: Georgia, "Times New Roman", "DejaVu Serif", serif;
$verdana 		: Verdana, Tahoma, "DejaVu Sans", sans-serif;
$tahoma 		: Tahoma, Verdana, "DejaVu Sans", sans-serif;
$helvetica 		: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
$arial 			: Arial, Helvetica, "Nimbus Sans L", sans-serif;
$courier 		: "Courier New", "DejaVu Sans Mono", monospace, sans-serif;
$cursive 		: "Brush Script MT", cursive;

//+++++++++++++++++++++++++++!!!+++++++++++++++++++++++++++//
// brand colors
$color--facebook 	: #3B5998;
$color--twitter  	: #33CCFF;
$color--youtube  	: #FF3333;
$color--pinterest	: #990000;
$color--skype    	: #12A5F4;
$color--flickr   	: #FE0883;
$color--foursquare	: #8FD400;
$color--instagram	: #4E433C;
$color--linkedin 	: #4875B4;
$color--tumblr   	: #2B4964;
$color--vimeo    	: #86B32D;
$color--google   	: #D6492C;
$color--fk       	: #66B360;
$color--sharethis	: #00bf00;
