//+++++++++++++++++++++++++++!!!+++++++++++++++++++++++++++//
// global
* {
	box-sizing: border-box;
}


h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: $font--title;
	font-weight: 600;
}

h2 {
	font-size: 30px;
	margin-bottom: 20px;
	line-height: 30px;
}
h3 {
	font-size: 23px;
}

p {
	margin: 0 0 10px;
}

html,
body {
	height: 100%;
	width: 100%;
	position: relative;
}

body {
	font-family: $font--body;
	color: $color--body;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	font-size: 14px;
	line-height: 20px;
}

a {
	color: skyblue;
	font-weight: 800;
	text-decoration: none;
}

ul {
	margin-top: 0;
}

.inside-constrained {
	max-width: 1000px;
	margin: 0 20px;
	position: relative;
	@include clearfix;

	@include breakpoint($bp-medium) {
		margin: 0 auto;
	}
}

.group {
	height: auto;
	width: 100%;
	position: relative;
	border-top: 1px solid $green;
	overflow: hidden;
	@extend .clearfix;

	@include breakpoint($bp-medium) {
		height: 100%;
	}
}

.no-svg section {
	max-width: 600px;
	margin: 0 auto;

	@include breakpoint($bp-teen) {
		max-width: 100%;
	}
}
