// header

.main-header {
	text-align: center;
	background: $gold;
	@include breakpoint($bp-teen) {
		position: fixed;
		top: 0;
		width: 100%;
		left: 0;
		z-index: 9999;
		box-shadow: 0 0 10px rgba(0,0,0,.15);
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li {
		@include breakpoint($bp-teen) {
			display: inline-block;
		}
	}

	a {
		display: block;
		background: $gold;
		color: $white;
		border-bottom: 1px solid $white;
		padding: 10px 16px;
		text-transform: uppercase;
		letter-spacing: 2px;

		@include breakpoint($bp-teen) {
			display: inline-block;
			border: none;
		}

		&:hover {
			background: darken($gold, 10%);
		}
	}
}