// section intro

@-webkit-keyframes slide {
    from { transform: translate(0px, 0px);  }
    to { transform: translate(0px, 500px); }
}

@-webkit-keyframes slide2 {
    from { transform: translate(0px, 0px);  }
    to { transform: translate(0px, 500px); }
}

.section--intro {
	position: relative;
	height: 100%;
	width: 100%;

	@include breakpoint($bp-medium) {
		float: left;
		width: 50%;
	}

	h1 {
		background: transparent url("../img/single/jb-married.png") no-repeat center center;
		background-size: 400px 410px;
		display: block;
		height: 100%;
		width: 100%;
		position: relative;
		min-height: 600px;
		z-index: 2;

		@include breakpoint($bp-medium) {
			background-position: 60% 45%;
		}

		@include breakpoint($bp-large) {
			background-size: 600px 614px;
		}
	}
}

.patterns-1 {
    position: absolute;
    left: 0;
    right: 0;
    top: -500px;
    bottom: 0;
	background: transparent url("../img/svg/pattern-red.svg") repeat 0% 0%;
    z-index: 1;
    opacity: .7;
    
    -webkit-animation-name: slide;
	-webkit-animation-duration: 60s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;

}

.patterns-2 {
    position: absolute;
    left: 0;
    right: 0;
    top: -500px;
    bottom: 0;
	background: transparent url("../img/svg/pattern.svg") repeat 50% 50%;
    z-index: 3;
    opacity: .1;

    -webkit-animation-name: slide2;
	-webkit-animation-duration: 100s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}
