// section locations

.section--locations {
	position: relative;
	width: 100%;
	border-top: none;
	@extend .clearfix;

	@include breakpoint($bp-medium) {
		display: table;
		vertical-align: middle;
		height: 100%;
	}
}

.info--wedding,
.info--reception {
	position: relative;
	height: 100%;
	width: 100%;
	text-align: center;
	padding: 20px;
	overflow: hidden;

	@include breakpoint($bp-teen) {
		padding: 60px;
	}

	@include breakpoint($bp-medium) {
		width: 50%;
		display: table-cell;
		vertical-align: middle;
	}

	.image {
		background-repeat: no-repeat;
		background-position: center bottom;
		background-size: 100% auto;
		margin: 0 auto 20px;
	}

	.cover {
		content: '';
		position: absolute;
		height: 100%;
		width: 100%;
		background: rgba(0,0,0,.8);
		top: 0;
		left: 0;
		display: none;
	}

	&.is-open {

		.cover {
			display: block;
		}
	}
}

.info--wedding {
	.image {
		background-image: url('../img/single/church.jpg');
		width: 400px;
		height: 350px;
		position: relative;
		left: 50%;
		margin-left: -(400px * .5);

		@include breakpoint($bp-large) {
			width: 600px;
			height: 521px;
			margin-left: -(600px * .5);
		}

		@include breakpoint($bp-large2) {
			width: 800px;
			height: 694px;
			margin-left: -(800px * .5);
		}
	}
}

.info--reception {
	.image {
		background-image: url('../img/single/pavilion.jpg');
		width: 462px;
		height: 350px;
		position: relative;
		left: 50%;
		margin-left: -(462px * .5);

		@include breakpoint($bp-large) {
			width: 600px;
			height: 521px;
			margin-left: -(600px * .5);
		}

		@include breakpoint($bp-large2) {
			width: 748px;
			height: 694px;
			margin-left: -(748px * .5);
			background-position: center 90px;
		}

	}
}

.text--tag {
	text-transform: uppercase;
	font-size: 12px;
	line-height: 12px;
	letter-spacing: 2px;
	color: $gold;
	font-weight: 900;
}

.text--title {
	color: $gold;
}

.text--address,
.text--time,
.text--attire,
.text--info {
	@extend .text--tag;
	color: $grey;

}

.text--info {
	background: $grey;
	color: $white;
	padding: 6px 0;
	margin: 0 auto;
	width: 100%;
	border-right: 5px solid lighten($grey, 10%);
	border-left: 5px solid lighten($grey, 10%);

	&:hover {
		background: darken($grey, 10%);
		cursor: pointer;
	}

	@include breakpoint($bp-teen) {
		width: 300px;
	}
}

.text--info--block {
	padding: 20px;
	color: $grey;
	width: 300px;
	margin: 0 auto;
	transition: height .2s ease-in-out;
  	margin: -150px 0 0 -150px;
  	position: absolute;
  	top: 50%; left: 50%;
  	z-index: 10;
  	background: $white;
  	height: 300px;
  	border-radius: 2px;
  	box-shadow: 0 0 20px $black;
  	display: none;

	.is-open & {
		display: block;
	}

	.button--cancel {
		font-weight: 900;
		position: absolute;
		top: -10px;
		right: -10px;
		width: 20px;
		height: 20px;
		background: $red;
		border-radius: 10px;
		color: $white;
		line-height: 17px;

		&:hover {
			color: darken($red, 10%);
		}
	}
}

