// section info

.group-4 {
	height: auto;
}

.section--info {
	padding: 30px 30px 30px;

	@include breakpoint($bp-medium) {
		float: left;
		width: 50%;
		padding: 40px 40px 0;
	}

	@include breakpoint($bp-large) {
		padding: 76px 80px 0;
	}

	h3 {
		color: darken($gold, 10%);
		margin-bottom: 6px;
	}
}

.info--travel {
	margin-bottom: 26px;
}
.section--map {
	display: none;
	@include breakpoint($bp-teen) {
		display: block;
		height: 400px;
		margin: 0 30px 30px;
	}

	@include breakpoint($bp-medium) {
		float: right;
		width: 50%;
		position: relative;
		height: 100%;
		padding: 0;
		margin: 0;
	}	
}

.list--hotels {
	list-style: none;
	margin: 16px 0;
	padding: 0;
	@extend .clearfix;

	li {
		border-bottom: 1px solid $gold;
		padding-top: 10px;
		@include breakpoint($bp-teen) {
			float: left;
			width: 48.5%;
			padding-right: 20px;
			text-align: left;
			border: 1px solid $gold;
			padding: 20px;
		}

		&:first-child {
			border-top: 1px solid $gold;
			@include breakpoint($bp-teen) {
				margin-right: 3%;
			}
		}
	}

	h4 {
		font-size: 20px;
		line-height: 30px;
		color: darken($gold, 10%);
	}
}
