// section registry

.section--registry {
	background: $gold;
	padding: 80px 10px;
	text-align: center;
	color: $white;
	overflow: hidden;

	@include breakpoint($bp-teen) {
		padding: 80px;
	}
}

.table-wrapper {
	width: 100%;
	overflow: scroll;
	margin: 0 auto;
}

table {
	text-align: left;
	margin: 0 auto;
	background: rgba(255,255,255,.5);
	padding: 10px 0;
	position: relative;
	z-index: 990;
	color: darken($gold, 30%);

	thead {
		background: white;
		th {
			padding: 10px 20px;
			border-right: 1px solid rgba(0,0,0,.05);
		}
	}
	td {
		padding: 5px 20px;
		border-right: 1px solid rgba(0,0,0,.05);
	}

	tr {
		border-bottom: 1px solid darken($gold, 10%);
	}

	a {
		color: $red;

		&:hover {
			border-bottom: 1px solid $red;
		}
	}
}