.sprite--diamond-heart {
	width: 134px;
	height: 96px;
	background-position: 0 0;
}

.sprite--diamond-heart {
	background-size: 140px 105px;
}

.no-svg .sprite--diamond-heart {
	background-image: url("../img/sprites/sprite.png");
}

.sprite--diamond-heart {
	background-image: url("../img/sprites/sprite.svg");
}
