////////////////////////
// Variables Partials
//
// All of your variables should go in this file.
////////////////////////


// Fonts
//+++++++++++++++++++++++++++!!!+++++++++++++++++++++++++++//

$courier:           	"Courier New", "DejaVu Sans Mono", monospace, sans-serif; 
$helvetica:         	"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
$proxima: 				"proxima-nova", $helvetica;

$base-font-family:		$proxima, $helvetica;
$font-headers:			$helvetica;
$font-monospace:		$courier;

// Colors
//+++++++++++++++++++++++++++!!!+++++++++++++++++++++++++++//

// brand colors
$green:  				#2ddb48;
$blue:	 				#24407a;


// standard colors 
$black:				#333333;
$white:    			#ffffff;
$grey:     			#eeeeee;
$grey-dark:			#cccccc;

// standard uses
$text-color:           	$black;
$background-color: 	   	$white;
$footer-color:			$white;

// links
$link-color:      		$green;
$link-color-hover:		lighten($green, 10%);

// alerts, warnings, etc.
$alert-danger:    		#a94442;
$alert-info:      		#31708f;
$alert-warning:   		#8a6d3b;
$alert-success:   		#3c763d;


// Misc. Variables
//+++++++++++++++++++++++++++!!!+++++++++++++++++++++++++++//

$min-width:				20em;
$max-width:				55em;
$nav-off-canvas-width:	70%;
$font-size:				1em;
$line-height:			1.4em;


//+++++++++++++++++++++++++++!!!+++++++++++++++++++++++++++//
// BREAKPOINTS (media query stuff)

$bp-small:  			30em;
$bp-medium: 			45em;
$bp-large:  			$max-width;




