<!doctype html>
<html>
  <head>


  <!--

              MMMMMMMMM                         MMMMMMMMM
          MMMMMMMMMMMMMMMMMM               MMMMMMMMMMMMMMMMMM
       MMMMMMMXXXXXXXXXXMMMMMMM         MMMMMMMXXXXXXXXXXMMMMMMM
    MMMMMMXXXXXXXXXXXXXXXXXMMMMMM     MMMMMMXXXXXXXXXXXXXXXXXMMMMMM
   MMMMMXXXXXXXXOOOOOOOOXXXXXXMMMM   MMMMXXXXXXOOOOOOOOXXXXXXXXMMMMM
  MMMMXXXXXXXOOOOOOOOOOOOOOOXXXXMMM MMMXXXXOOOOOOOOOOOOOOOXXXXXXXMMMM
 MMMMXXXXXXOOOOOOOOOOOOOOOOOOOOXXXMMMXXXOOOOOOOOOOOOOOOOOOOOXXXXXXMMMM
 MMMXXXXXOOOOOOOOOOOOOOOOOOOOOOOOXXXXXOOOOOOOOOOOOOOOOOOOOOOOOXXXXXMMM
MMMXXXXXOOOOOOOOOOO       OOOOOOOOOXOOOOOOOOO       OOOOOOOOOOOOXXXXMMM
MMMXXXXOOOOOOOOO              OOOOOOOOOOO              OOOOOOOOOOXXXMMM
MMMXXXXOOOOOOOO                  OOOOO                  OOOOOOOOOXXXMMM
MMMXXXXOOOOOOO    J E S S I E      O         B I L L     OOOOOOOOXXXMMM
MMMXXXXOOOOOOO                                           OOOOOOOOXXXMMM
MMMXXXXOOOOOOO                   A R E                   OOOOOOOOXXXMMM
MMMXXXXXOOOOOO                                           OOOOOOOXXXXMMM
 MMMXXXXOOOOOOO               G E T T I N G             OOOOOOOOXXXMMM
 MMMMXXXXOOOOOOO                                       OOOOOOOOXXXMMMM
  MMMXXXXOOOOOOOOO           M A R R I E D !!         OOOOOOOOOXXXMMM
  MMMMXXXXOOOOOOOOOO                                OOOOOOOOOOXXXMMMM
   MMMXXXXXOOOOOOOOOOO                           OOOOOOOOOOOOXXXXMMM
    MMMXXXXXOOOOOOOOOOOOO                     OOOOOOOOOOOOOOXXXXMMM
     MMMXXXXXOOOOOOOOOOOOOOO               OOOOOOOOOOOOOOOOXXXXMMM
      MMMXXXXXOOOOOOOOOOOOOOOOO         OOOOOOOOOOOOOOOOOXXXXXMMM
       MMMXXXXXXOOOOOOOOOOOOOOOOOO   OOOOOOOOOOOOOOOOOOXXXXXXMMM
         MMMXXXXXXXOOOOOOOOOOOOOOOO OOOOOOOOOOOOOOOOXXXXXXXMMM
           MMMXXXXXXXXOOOOOOOOOOOOOOOOOOOOOOOOOOOXXXXXXXXMMM
             MMMMXXXXXXXXXOOOOOOOOOOOOOOOOOOOXXXXXXXXXMMMM
                MMMMXXXXXXXXXXXOOOOOOOOOXXXXXXXXXXMMMMM
                   MMMMMXXXXXXXXXXXOXXXXXXXXXXXMMMMM
                      MMMMMMXXXXXXXXXXXXXXXMMMMMM
                          MMMMMMXXXXXXXMMMMMM
                              MMMMMXMMMMM
                                 MMMMM
                                  MMM
                                   M                       

-->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vogel + Brown Wedding</title>

    <link rel="icon" sizes="196x196" href="images/touch/chrome-touch-icon-196x196.png">
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">

    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Karma:600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main.css">
    <script type="text/javascript" src="js/modernizr.custom.71722.js"></script>

  </head>
  <body>

        <!--[if lte IE 9]>
        <div class="browsehappy">
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        </div>
        <![endif]-->
        
        {{> body }}


        <script type="text/javascript" src="js/scripts.min.js"></script>
        
  </body>
</html>