// section recommendations


.section--rec {
	padding: 20px;
	height: auto;
	width: 100%;
	border-top: 1px solid $green;
	text-align: center;

	@include breakpoint($bp-teen) {
		padding: 80px;
	}

	h2 {
		text-align: center;
	}
	ul {
		list-style: none;
		padding: 0;
		margin: 0;

		li {
			margin-bottom: 16px;
			span {
				display: block;

			}
		}
	}

	h4 {
		@extend .text--tag;
		font-family: $font--body;
		color: $grey;
		margin-bottom: 20px;
	}
}

.things-to-do {
	@extend .clearfix;
	height: auto;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;

	.intro-text {
		margin-bottom: 30px;
	}
	.food {
		border-top: 1px solid $green;
		padding-top: 20px;
		@include breakpoint($bp-medium) {
			border: none;
			padding: 0;
			width: 20%;
			float: left;
			padding: 10px;	
			text-align: left;	
		}
	}	
}

.activities {
	border-top: 1px solid $green;
	padding-top: 20px;

	@include breakpoint($bp-medium) {
		width: 40%;
		float: left;
		padding: 10px;
		text-align: left;
		border: none;

	}
}
