//_section img

.section--photo {
	position: relative;
	height: 100%;
	width: 100%;
	padding: 30px;

	@include breakpoint($bp-medium) {
		width: 50%;
		float: right;
		padding: 0;
		position: relative;
	}
}

.wedding-photo {
	background: transparent url('../img/single/jb.jpg') no-repeat top center;
	position: relative;
	height: 100%;
	width: 100%;
	border: 5px solid $gold;
	z-index: 2;
	min-height: 400px;
	max-width: 500px;
	background-size: cover;
	margin: 0 auto;

	@include breakpoint($bp-teen) {
		min-height: 500px;
	}

	@include breakpoint($bp-medium) {
		height: 600px;
		width: 450px;
		left: 50%;
		top: 50%;
		position: absolute;
		margin-left: -(450px * .5);
		margin-top: -(600px * .5);
	}

}
